HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
images/15b47636-2fdb-4711-b3dd-eb1cbcbe782f.png
images/24e0b1c5-b5e0-4cc1-9c71-8edc5db81abb.png
images/49a6867f-92fd-4d23-8c99-7b83f60c84a1.png
images/218d16f3-be44-4a61-93bd-a20d439e9bc6.png
images/c1e57f39-e871-4f92-ad29-76f3e4ba9e05.png
images/c78d231e-62bc-4fb9-a362-2c121d194f10.png
